{% extends '../base.html' %}
{%load mathfilters%}

{% block css_link%}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{%endblock%}

{% block content%}
			<div id="guestbook">
				<form action="/guestbook/add" method="POST">
					{%csrf_token%}
					<table>
						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="content" id="content"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
				<ul>
					<!-- mathfilters install, app 등록, {%load mathfilters%} 명시 후 수학 연산 사용 가능 -->
					{% for guestbook in guestbooklist %}
					<li>
						{%if forloop.first%}
							<table style='border-collapse:collapse; border:4px solid black; background-color:#ddd'>
							<tr>
								{%comment 'forloopvariable'%}
								<!-- 필터 활용 A = 데이터 | B = 필터 조건 -->
								<td>{{forloop.revcounter}}</td>
								{%endcomment%}
								<!-- revcounter와 같은 기능을 수행 -->
								<td>{{guestbooklist.count | sub:forloop.counter | add:1}}</td>
								<td>{{guestbook.name}} : {{guestbook.name | length}}</td>
								<!-- 데이트 포맷 -->
								<td>{{guestbook.regdate | date:'Y-m-d H:i:s'}}</td>
								<td><a href="/guestbook/deleteform/{{guestbook.id}}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								{{guestbook.content}}
								</td>
							</tr>
						</table>
						{%else%}
							<table>
							<tr>
								<!-- 필터 활용 A = 데이터 | B = 필터 조건 -->
								<td>{{forloop.revcounter}}</td>
								<td>{{guestbook.name}} : {{guestbook.name | length}}</td>
								<!-- 데이트 포맷 -->
								<td>{{guestbook.regdate | date:'Y-m-d H:i:s'}}</td>
								<td><a href="/guestbook/deleteform/{{guestbook.id}}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								{{guestbook.content}}
								</td>
							</tr>
						</table>
						{%endif%}
						<br>
					</li>
					{%endfor%}
				</ul>
			</div>
{%endblock%}