{% extends '../base.html' %}

{% block css_link%}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{%endblock%}

{% block content%}
				<div id="site-introduction">
					<img id="profile" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/p240x240/30705531_2083087868372808_5261052926483232647_n.jpg?_nc_cat=0&oh=db97a9950eade94d765d2b566ff92fbc&oe=5BE17354" alt="NO IMAGE">
					<h2>- CAFE24 교육생 박진영입니다 -</h2>
					<p>
						[웹 프로그램밍 실습과제 예제 사이트]<br>
						[메뉴] 사이트 소개/방명록/게시판 및 Python/데이터베이스/웹프로그래밍 수업<br><br>
						<a href="/guestbook">방명록</a>move<br>
					</p>
				</div>
{%endblock%}