<!doctype html>
<html lang="ko-kr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JAY PARK</title>
	{%block css_link%}{%endblock%}
</head>
<body>
	<div class="container">
		<header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="nav-a" id="nav-intro" href="/">메인</a></li>
                        <li><a class="nav-a" id="nav-guestbook" href="/guestbook">방명록</a></li>
                        <li><a class="nav-a" id="nav-board" href="/board">게시판</a></li>
                        <li><a class="nav-a" id="nav-gallery" href="#">갤러리</a></li>
                    </ul>
                    <!-- 회원정보 -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.session.authuser is None%}
                        <li><a class="nav-a" id="nav-join" href="/user/joinform">회원가입</a></li>
                        <li><a class="nav-a" id="nav-login" href="/user/loginform">로그인</a></li>
                        {% else %}
                        <li><a class="nav-a" id="nav-logout" href="/user/logout">로그아웃</a></li>
                        <li><a class="nav-a" id="nav-mypage" href="/user/updateform">{{request.session.authuser.name}}님의 마이페이지</a></li>
                        {% endif %}
                    </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
		</header>
        {%block content%}{%endblock%}
		<footer>
		</footer>
	</div>
</body>
</html>