{% extends '../base.html' %}
{%load mathfilters%}

{% block css_link%}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{%endblock%}

{% block content%}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>게시물 삭제</th>
					</tr>
					{% for board in boardlist%}
					<tr>
						<td>{{forloop.revcounter}}</td>
						<td style="text-align: left; padding-left: {{board.depth | mul:15}}px">
							{% if board.depth > 1 %}
							<img src="/assets/images/reply.png">
							{% endif %}
							<a href="/board/view?id={{board.id}}">{{board.title}}</a>
						</td>
						<td>{{board.user.name}}</td>
						<td>{{board.hit}}</td>
						<td>{{board.regdate | date:'Y-m-d:H:i:s'}}</td>
						<td>
							{% if request.session.authuser.name == board.user.name %}
							<a href="/board/delete?groupno={{board.groupno}}&orderno={{board.orderno}}&depth={{board.depth}}" class="del">
							삭제</a>
							{% else %}
							<p>삭제 불가</p>
							{% endif %}
						</td>
					</tr>
					{%endfor%}
				</table>
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li>{% if startpage > pageblock %}<a href="/board/{{startpage | sub:pageblock}}">◀</a>{% endif %}
						</li>
						<li>
							{% for i in starttoend %}
							<a href="/board/{{i}}">{{i}}</a>
							{% endfor %}
						</li>
						<li>{% if endpage < pagecount %}<a href="/board/{{startpage | add:pageblock}}">▶</a>{% endif %}</li>
					</ul>
				</div>
				<!-- pager 추가 -->
				<div class="bottom">
					{% if request.session.authuser is not None %}
					<a href="/board/write" id="new-book">글쓰기</a>
					{% endif %}
				</div>				
			</div>
{%endblock%}