{% extends '../base.html' %}
{%load mathfilters%}

{% block css_link%}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">상세내용</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{board.title}}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{board.content}}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board/1">글목록</a>
					{% if request.session.authuser.name == board.user.name %}
					<a href="/board/modify?id={{board.id}}">글수정</a>
					{% endif %}
					{% if request.session.authuser is not None %}
					<a href="/board/rewrite?id={{board.id}}">답글쓰기</a>
					{% endif %}
				</div>
			</div>
{% endblock %}